body {
    background-color: black;
}

div {
    position: relative;
    color: lightgray;
    font-family: 'Courier New', Courier, monospace;
}

.username {
    color: limegreen;
}

.tilde {
    color: blue;
}

.cursor {
    position: absolute;
    display: inline-block;
    top: 0;
    bottom: 0;
    width: 10px;
    background-color: lightgray;
}

a {
    color: lightgray;
    text-decoration: none;
}