.welcome-section {
    position: relative;
    overflow: hidden;
}


.welcome-section > img {
    height: 100vh;
    width: 100vw;
    object-fit: cover;
}


.welcome-section > .welcome-text {
    position: absolute;
    top: 0;
    width: 100%;
    margin-top: 30vh;
}


.welcome-section > .welcome-text > h1 , .welcome-section > .welcome-text > h2 {
    width: 100%;
    text-align: center;
    color: #f7f7f7;
    text-shadow: 2px 2px #000000;
}


.welcome-section > .welcome-text > h2 {
    font-size: 8vw;     /* desktop 5.5 */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.welcome-section > .welcome-text > h1 {
    font-size: 20vw;    /* desktop 10 */
    margin-top: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}


.welcome-section > .scroll-text {
    position: absolute;
    bottom: 150px;
    text-align: center;
    color: #f7f7f7;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 50px;
    width: 100%;
}


p {
    font-size: 16px;
    line-height: 24px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.content-section {
    padding: 75px;
}


.content-section:nth-child(odd) {
    background-color: #d4d8dd;
}


.section-header {
    position: relative;
    font-size: 40px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
    margin-bottom: 125px;
}


.section-header::before {
    position: absolute;
    display: inline-block;
    content: "";
    overflow: visible;
    background-color: #282F44;
    width: 300px;
    height: 10px;
    bottom: -50px;
    left: calc(50% - 150px);
    border-radius: 5px;
}


.intro-paragraph {
    padding-top: 75px;
}


.card {
    display: flex;
    flex-direction: column;
    background-color: #f7f7f7;
    box-shadow: 10px 10px #272727;
}


.card > .img-container {
    height: 500px;
    width: 100%;
}


.card > .img-container > img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}


.card > .card-text {
    text-align: left;
    /* margin-left: 32px; */
    padding: 50px;
    /* padding-left: 0; */
}


.card > .card-text > h2 {
    color: #000000;
    font-size: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: none;
    margin-bottom: 30px;
}


.card > .card-text > h3 {
    color: #006600;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 10px;
}


.card > .card-text > p {
    margin-top: 75px;
}